.slider-element{
  border-radius: 5px;
  height: 500px;
  width: 900px;
}

.slider-img{
  border-radius: 5px;
  height: 400px;
  width: 900px;
}

.slider-detalles{
  background-color: rgb(26, 26, 29);
  text-align: center;  
  color: azure;
  height: 100px;
  width: 900px;
}

